body {
   background-color: #F5F7FB;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: url('./images/blob_blue.svg') left bottom no-repeat,
      url('./images/blob_yellow.svg') right top no-repeat;
}