.startPage-main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.startPage-title,
.startPage-description {
   font-family: 'karla', sans-serif;
   color: #293264;
}

.startPage-title {
   font-size: 40px;
}

.startPage-description {
   margin-bottom: 40px;
}

.startPage-btn {
   background-color: #4D5B9E;
   max-width: 150px;
   border-radius: 15px;
   color: #F5F7FB;
   padding: 20px 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

/* produces a 'sink' effect when the button is clicked */
/* recently been trying to learn more about these small but huge CSS UI tricks */
.startPage-btn:active {
   box-shadow: inset 0px 0px 10px black;
}